header {
  background-color: #4c2676;
  color: #fff;
}

img {
  width: 100%;
}

#title,
#url {
  display: block;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  min-width: 100%;
}

#notes {
  display: block;
  height: 130px;
}

label {
  display: inline-block;
  padding-bottom: 1rem;
}

textarea {
  min-width: 100%;
}

.saverow {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

#save {
  color: #fff;
  background: #4c2676;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#new-column {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#form-anchor {
  background-color: #4c2676;
  color: #fff;
  margin-top: 1rem;
  max-height: 34px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.entryrow {
  display: flex;
  flex-wrap: nowrap;
}

#entries {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  flex-wrap: wrap;
}

#entry-anchor {
  margin-left: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}

#swap-home {
  font-size: 2.2rem;
  text-decoration: none;
  color: #fff;
}

.align-center {
  align-items: center;
}

.titlediv {
  display: flex;
  justify-content: space-between;
}

h4 {
  display: inline-block;
}

.fa-pencil {
  margin-top: 1rem;
  cursor: pointer;
  color: #4c2676;
}

/* ---WIP--- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 3px;
  margin: 50% auto;
  width: 300px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#delete-text {
  margin-top: 10px;
}

#cancel-button {
  display: flex;
  justify-content: space-between;
}

#confirm,
#cancel {
  border-style: none;
  margin-bottom: 0.6rem;
  border-radius: 3px;
}

#confirm {
  background-color: #dc2626;
  color: #fff;
  margin-left: 4rem;
}

#cancel {
  background-color: #b6b6b6;
  margin-right: 4rem;
}
